@model prj_sales.Models.VendaViewModel
@{
    ViewData["Title"] = "Venda - Cadastro";
    var disabled = Model.Codigo == null ? "disabled" : string.Empty;
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-controller="Venda" asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo"/>
    <div class="form-group">
        <div class="col-4">
            <label class="control-label">Data</label>
            <input type="date" asp-for="Data" value="@Model.Data" class="form-control" aria-label=""/>
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label class="control-label">Cliente</label>
            <select asp-for="CodigoCliente" class="form-control input-group-lg" asp-items="@Model.ListaClientes"></select>
            <span asp-validation-for="CodigoCliente" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-4">
            <label class="control-label">Produtos</label>
            <select id="cmbProduto" onchange="BuscarPrecoProduto()" class="form-control input-group-lg" asp-items="@Model.ListaProdutos"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-2">
            <label>Preço unitário</label>
            <input  id="edtValorUnitario" type="number" class="form-control" disabled />
        </div>
        <div class="col-2">
            <label>Quantidade</label>
            <input  id="edtQtde" onchange="CalcularSubTotal()" type="number" class="form-control" />
        </div>
        <div class="col-2">
            <label>Sub Total</label>
            <input  id="edtSubTotal" type="number" class="form-control" disabled />
        </div>
        <div class="col-2">
            <br />
            <button type="button" class="btn btn-info" onclick="AddItem()">Add</button>
            <br />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr style="background-color: #f6f6f6">
                    <th>Produto</th>
                    <th>Preço Unitário</th>
                    <th>Quandidade</th>
                    <th>Valor Total</th>
                </tr>
                </thead>
                <tbody id="grdProdutos"></tbody>
            </table>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-3">
            <label>Total</label>
            <input id="edtTotal" asp-for="Total" type="text" value="@Model.Total" class="form-control" />
            <span asp-validation-for="Total" class="text-danger"></span>
        </div>
    </div>
    
    <textarea asp-for="JsonProdutos" id="txtJsonProdutos" class="col" style="display: none"></textarea>
    
    <br />
    <div class="col">
        <button type="submit" class="btn btn-success">Gravar</button>
    </div>
</form>

<script>
    var Items = new Object();
    Items.Produtos = new Array();
    
    function BuscarPrecoProduto() {
        let codigoProduto = document.getElementById("cmbProduto").value;
        let url = `/Produto/ValorUnitario/${codigoProduto}`;
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE){                
                document.getElementById("edtValorUnitario").value = xhr.responseText;
            }
        }
        xhr.open('GET', url, false);
        xhr.send(null);
    }
    
    function CalcularSubTotal(){
        let valorUnitario = document.getElementById("edtValorUnitario").value;
        let qtde = document.getElementById("edtQtde").value;
        document.getElementById("edtSubTotal").value = FixaDuasCasasDecimais(valorUnitario * qtde);        
    }
    
    function AddItem(){
        let codigoProduto = document.getElementById("cmbProduto");
        let qtde = document.getElementById("edtQtde").value;
        let valorUnitario = document.getElementById("edtValorUnitario").value;
        let valorSubTotal = document.getElementById("edtSubTotal").value;
        
        //Igual VendaProdutos
        Items.Produtos.push({
            "CodigoProduto" :  codigoProduto.value,
            "Quantidade" :  qtde,
            "ValorUnitario" :  valorUnitario,
            "ValorTotal" :  valorSubTotal
        });
        
        document.getElementById("txtJsonProdutos").value = JSON.stringify(Items.Produtos);
        
        let linhaGrid = 
        "<tr id='" + codigoProduto.value + "'>" +
        "<td>" + codigoProduto.options[codigoProduto.selectedIndex].text + "</td>" +
        "<td>R$ " + valorUnitario + "</td>" +
        "<td>" + qtde + "</td>" +        
        "<td>R$ " + valorSubTotal + "</td>" + 
        "</tr>";
       
        document.getElementById("grdProdutos").innerHTML += linhaGrid;
        
        let total = Number(document.getElementById("edtTotal").value.toString().replace(",",".")) + Number(valorSubTotal.toString().replace(",","."));
        document.getElementById("edtTotal").value = FixaDuasCasasDecimais(total).replace(".", ",");
        
        document.getElementById("cmbProduto").selectedIndex = -1;
        document.getElementById("edtQtde").value = "";
        document.getElementById("edtValorUnitario").value = "";
        document.getElementById("edtSubTotal").value = "";
    }
    
    function FixaDuasCasasDecimais(num){
        return parseFloat(Math.round(num*100) /100).toFixed(2);
    }

</script>