@model IEnumerable<prj_sales.Entities.Venda>;
@{
    ViewData["Title"] = "Vendas";
}

<h2>@ViewData["Title"]</h2>
<hr />
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Cadastro", "Venda")'">Registrar Venda</button>
<hr />
<table class="table table-bordered">
    <thead>
    <tr style="background-color: #f6f6f6">
        <th>Código</th>
        <th>Data</th>
        <th>Cliente</th>
        <th>Totaol</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.Codigo.ToString(), "Cadastro", "Venda", new {id = item.Codigo})</td>
            <td>@Html.ActionLink(item.Data.ToString(), "Cadastro", "Venda", new {id = item.Codigo})</td>
            <td>@Html.ActionLink(item.Cliente.Nome, "Cadastro", "Venda", new {id = item.Codigo})</td>
            <td>@Html.ActionLink(item.Total.ToString(), "Cadastro", "Venda", new {id = item.Codigo})</td>
        </tr>
    }
    </tbody>
</table>