@model IEnumerable<prj_sales.Entities.Produto>;
@{
    ViewData["Title"] = "Produtos";
}

<h2>@ViewData["Title"]</h2>
<hr />
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Cadastro", "Produto")'">Inserir</button>
<hr />
<table class="table table-bordered">
    <thead>
    <tr style="background-color: #f6f6f6">
        <th>Código</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(item.Codigo.ToString(), "Cadastro", "Produto", new {id = item.Codigo})</td>
            <td>@Html.ActionLink(item.Descricao, "Cadastro", "Produto", new {id = item.Codigo})</td>
            <td>@Html.ActionLink(item.Quantidade.ToString(), "Cadastro", "Produto", new {id = item.Codigo})</td>
            <td>@Html.ActionLink(item.Valor.ToString(), "Cadastro", "Produto", new {id = item.Codigo})</td>
            <td>@Html.ActionLink(item.Categoria.Descricao, "Cadastro", "Produto", new {id = item.Codigo})</td>
        </tr>
    }
    </tbody>
</table>
